body {
  background: url('../assets/images/background.png') no-repeat center center fixed
}
Form {
  position: relative;
  width : 25rem;
  margin : auto;
  top: 7%
}

.createDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right : 0;
  margin: auto;
  width : 30rem;
  height : 25rem;
  font-weight: 500;
}